.imageName {
  width: 100px;
  white-space: inherit;
  line-break: auto;
  text-align: center;
  line-height: 1rem;
  margin-top: 8px;
}

.flavorName {
  width: 100px;
  white-space: inherit;
  line-break: auto;
  text-align: center;
  line-height: 1rem;
}
