.filemanager {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px;
  background-color: #fff;
}

.header {
  padding: 4px 12px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.content {
  background-color: #fff;
}

.fileContainer {
  height: 60vh;
}

.sidemenu {
  border-right: 1px solid #ddd;
  padding: 8px;
}

.upload {
  margin-bottom: 16px;
}

.activeDrop {
  background-color: lightblue;
  padding: 10px 10px 0;
}

.dropDiv {
  border-radius: 5px;
  transition: all 0.3s ease;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
}

.objectStorage h1 {
  width: 100%;
}
